*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background: white;
    border-radius: 8px;
    box-shadow: 4px 4px 16px #a3a3a3;
    padding: 48px 50px;
    text-align: center;
    width: 100%;
}

h1{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    color: #333;
}

.add-item-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

input{
    flex: 1;
    padding: 10px;
    border: 1px solid #6e6e6e;
    border-radius: 4px;
    font-size: 16px;
    color: #6e6e6e;
}

input:focus{
    outline: none;
    border-color: #6767c5;
;
}

button[type="submit"]{
    padding: 11.5px 20px;
    border: none;
    border-radius: 4px;
    background: #6767c5;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: #3b3b91;
}

table{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

thead{
    background: #6767c5;
    color: white;
}

th, td{
    padding: 12px;
    text-align: center;
    border: 1px solid #a3a3a3;
}

.corpo:nth-child(odd){
    background-color: white;
}

.corpo:nth-child(even){
    background-color: #e5e5fa;
}

input[type="checkbox"]{
    transform: scale(1.2);
    cursor: pointer;
}

.item-riscado{
    text-decoration: line-through;
}

.limpar-lista {
    text-align: right;
    margin-top: 30px; /* espaço entre a tabela e o botão */
}

button[type="button"]{
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    background: #f74d5b;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button[type="button"]:hover{
    background-color: #f00c1f;
}
